$break-point: 600px;

.main-layout {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
	overflow: hidden;
	@media (max-width: $break-point) {
		flex-direction: column;
	}

	.content {
		padding: 0 10px 8px;
		overflow: auto;
		width: 100%;
	}

	.menu-bar {
		border-right: 1px solid black;
		display: flex;
		flex-direction: column;
		background-color: rgba(194, 212, 221, 0.476);

		@media (max-width: $break-point) {
			flex-direction: row;
			border-right: none;
			border-bottom: 1px solid black;
		}

		.menu-bar__item {
			padding: 7px 5px;
			text-decoration: none;
         color: #4c4a4c;

			&.active-route {
				background-color: rgba(177, 208, 223, 0.87);
			}
		}
	}
}
