<div class="main-layout">
	<div class="menu-bar">
		<a
			class="menu-bar__item"
			routerLink="home"
			routerLinkActive="active-route"
			>Home</a
		>
		<a
			class="menu-bar__item"
			routerLink="playlists"
			routerLinkActive="active-route"
			>Playlists</a
		>
	</div>
   <div class="content">
      <router-outlet></router-outlet>
   </div>
</div>
