<h1>Featured playlists</h1>

<div class="playlists-collection">
	<app-card *ngFor="let playlist of playlists$ | async">
		<div class="playlist-detail">
			<img [src]="playlist.artwork" />
			<div class="playlist-detail__info">
				<div class="playlist-detail__info__name">{{ playlist.name }}</div>
				<div class="playlist-detail__info__curator">
					{{ playlist.curator_name }}
				</div>
				<div>
					<a [href]="playlist.url" target="_blank">Listen!</a>
				</div>
				<div>
					<button (click)="addToFav(playlist)">{{ 'Add to Fav &#x2606;' }}</button>
				</div>
			</div>
		</div>
	</app-card>
</div>
