.playlists-collection {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
	@media (max-width: 950px) {
		grid-template-columns: 1fr 1fr;
	}
	@media (max-width: 600px) {
		grid-template-columns: 1fr;
	}

	.playlist-detail {
		display: flex;
		img {
			height: 90px;
			margin-right: 10px;
		}
		.playlist-detail__info {
			width: 100%;

			.playlist-detail__info__name {
				font-weight: bold;
			}
			.playlist-detail__info__curator {
				font-style: italic;
			}
		}
	}
}
